html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(130, 87, 229);
    background: radial-gradient(circle, rgba(130, 87, 229, 1) 0%, rgba(61, 19, 133, 1) 100%, rgba(130, 87, 229, 1) 100%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #fff;
    opacity: 0;
    animation: fade 0.25s ease-in;
    animation-fill-mode: forwards;
}

.d-block {
    display: block;
}

label,
button {
    width: fit-content;
    margin: 1.75rem 0;
}

button {
    padding: 0.5rem 2.5rem;
    background-color: #8257E5;
    border: none;
    align-self: center;
    border-radius: 1.5rem;
    color: #fff;
    transition: box-shadow 0.2s ease-in-out, filter 0.2s ease-in-out;
    opacity: 0;
    animation: move 0.5s ease-in .75s;
    animation-fill-mode: forwards;
}

button:hover {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    filter: brightness(1.12);
    cursor: pointer;
}

input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 25px;
    min-width: 350px;
}

label {
    font-size: 0.8rem;
    line-height: 1;
    color: rgba(61, 19, 133, 1);
    margin-bottom: 0.4rem;
}

.box-shadow {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4)
}

.box-shadow-floor {
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.4)
}

.container {
    background-color: white;
    max-width: 75%;
    padding: .5rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    animation: fade 0.25s ease-in;
    overflow: hidden;
}

.reticencias {
    height: fit-content;
    width: fit-content;
    display: inline-block;
    animation: reticenciaFormando 1s steps(2) 0.5s infinite;
}

form .form-control1,
form .label1 {
    opacity: 0;
    animation: move .5s ease-in;
    animation-delay: .25s;
    animation-fill-mode: forwards;
}

form .form-control2,
form .label2 {
    opacity: 0;
    animation: move .5s ease-in;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}

.form-hide {
    animation: moveDown 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.validate-error {
    animation: nono .2s linear, fade paused;
    animation-iteration-count: 2;
}

.squares li {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    display: block;
    position: absolute;
    bottom: -40px;
    animation: up 2s infinite alternate;
}

.z-10 {
    z-index: 10;
}


/* Animação */

@keyframes fade {
    from {
        opacity: 0.1;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes reticenciaFormando {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(10px);
    }
}

@keyframes move {
    from {
        opacity: 0;
        transform: translateX(-35%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes moveDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(60vh);
    }
}

@keyframes nono {
    0%,
    100% {
        transform: translateX(0);
    }
    35% {
        transform: translateX(-15%);
    }
    70% {
        transform: translateX(15%);
    }
}

@keyframes up {
    from {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(-800px) rotate(960deg);
    }
}

@media (max-width: 768px) {
    input {
        min-width: 210px;
    }
    label,
    button {
        margin: .75rem 0;
    }
}